*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #333;
}

header {
    background-color: #000000;
    padding: 0px;
}
nav > ul > li{
  
  margin-top: 146px;
  padding-right: 0px;
  display: inline;
    margin-right: 55px;
}

nav{
  margin-left: 155px;
}
.logo{
  margin-top: -52px;

}

nav > ul {
    list-style-type: none;
    padding: 0px;
    display:flex;
    justify-content:flex-start;
}




nav > ul > li > a {
    text-decoration: none;
    color: #333;
}

header {
    height: 338px;
}

footer {
    background-color: #353535;
    padding: 20px;
    text-align: center;
}
.dropbtn {
    background-color: #000000;
    color: white;
    padding: 0px;
    font-size: 16px;
    border-width: 2px 2px 2px 2px;
    border-color: white;
    border-style: solid;
    display:flex;
    justify-content: space-around;
    height: 112px;
    width: 198px;
  }
  
  .dropdown {
    
    width: 200px;
  }
  
  .dropdown-content {
    display: none;
    background-color: #f1f1f1;
    min-width: 198px;
    box-shadow: 0px 8px 16px 0px #010101;
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: flex;
  }
  
  .dropdown-content a:hover {background-color: #ddd;}
  
  .dropdown:hover .dropdown-content {
    display: block; 
  }
  
  .dropdown:hover .dropbtn {background-color: #3e8e41;}